//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

#app-root-2024-palestine_rapid_assessment .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  .map_container {
    position: relative;
    .background_map {
      background-image: url('./assets/img/expenditure-losses_0.png');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      height: 100vh;
      width: 100vw;
      &.fixed {
        position: fixed;
      }
      &.absolute {
        position: absolute;
      }
    }
    .date_container {
      align-items: center;
      display: flex;
      height: 100vh;
      justify-content: center;
      position: relative;
      z-index: 2;
      .date {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        border: 2px solid #aea29a;
        min-width: 200px;
        padding: 20px 30px;
      }
    }
  }
}

@import 'basics.less';